.cards-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 10px;
    padding: 0px 40px;
    margin-bottom: 50px;
}

@media screen and (min-width: 2000px) and (max-width: 2558px) {
    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px 10px;
        padding: 0px 40px;
    }
}

@media screen and (min-width: 1310px) and (max-width: 1999px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px 10px;
        padding: 0px 40px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1309px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px 10px;
        padding: 0px 40px;
    }
}

@media screen and (min-width: 1012px) and (max-width: 1024px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px 10px;
        padding: 0px 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1011px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px 10px;
        padding: 0px 40px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cards-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
        padding: 0;
    }
}