body {
    margin: 0;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 5px;
    color: black;
  }
  
  code {
    font-family: 'Pokemon Solid', sans-serif;
  }